[submodule "logistics-microservice-soaring-clouds-sequel"]
	path = logistics-microservice-soaring-clouds-sequel
	url = https://github.com/lucasjellema/logistics-microservice-soaring-clouds-sequel
	branch = master
[submodule "orders-microservice-soaring-clouds-sequel"]
	path = orders-microservice-soaring-clouds-sequel
	url = https://github.com/luisw19/orders-microservice-soaring-clouds-sequel
	branch = master
[submodule "loyaltyprogrammicroservice"]
	path = loyaltyprogrammicroservice
	url = https://github.com/LinkRedCloud/loyaltyprogrammicroservice
	branch = master
[submodule "product-soaring-clouds-sequel"]
	path = product-soaring-clouds-sequel
	url = https://github.com/gschmutz/product-soaring-clouds-sequel
	branch = master
[submodule "financials-microservice-soaring-clouds-sequel"]
	path = financials-microservice-soaring-clouds-sequel
	url = https://github.com/svenbernhardt/financials-microservice-soaring-clouds-sequel
	branch = master
